@use '../../scss/breakpoints.scss' as *;
@use '../../scss/mixins.scss' as *;

.menu {
  position: fixed;
  top: 0;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #D6BDFF;
  z-index: 999;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  border-right: solid rgba(0,0,0,0.14) 2px;
  overscroll-behavior: contain;
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  @include small-tablet {
    width: 260px;
    transform: translateX(-100%);
  }

  @include small-mobile {
    width: 100%;
    transform: translateX(-100%);
  }

  @include small-desktop {
    background-color: unset;
    min-width: 310px;
    padding: 40px 30px;
    position: sticky;

    .close-button-container {
      display: none !important;
    }
  }

  @include desktop {
    background-color: unset;
    min-width: 310px;
    padding: 40px 30px;
    position: sticky;

    .close-button-container {
      display: none !important;
    }
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,0.34);
    font-size: 16px;
    font-weight: bold;

    .menu-link {
      border-radius: 99999px;
      transition: 200ms;
      padding: 10px;
      display: flex;
      align-items: center;

      span {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 22px;

        &::before {
          content: '';
          min-width: 2em;
          min-height: 2em;
          background-color: rgba(0,0,0,0.14);
          border-radius: 9999px;
        }

        a {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-decoration: none;
        }
      }

      &:hover {
        background-color: rgba(255, 57, 116, 0.15);
        cursor: pointer;
      }
    }

    .menu-active-link {
      background-color: rgba(255, 57, 235, 0.15);
    }
  }

  .close-button-container {
    min-height: 60px;
    display: flex;
    align-items: center;
  }
}
