@use '../../scss/breakpoints.scss' as *;
@use '../../scss/mixins.scss' as *;

.cards-grid{
    background-color: rgba(173, 252, 200, 0.5);
    padding: 20px 30px;
    gap: 20px;
    display: grid;

    @include small-mobile{
        @include hide-incomplete-rows-in-container(2);
        grid-template-columns: repeat(2, minmax(115px, 1fr));
        padding: 20px !important;
    }

    @include small-tablet{
        grid-template-columns: repeat(3, minmax(115px, 1fr));
        @include hide-incomplete-rows-in-container(3);
        padding: 20px !important;
    }

    @include small-desktop{
        grid-template-columns: repeat(4, minmax(115px, 1fr));
        @include hide-incomplete-rows-in-container(4);
    }

    @include desktop{
        grid-template-columns: repeat(5, minmax(115px, 1fr));
        @include hide-incomplete-rows-in-container(5);
    }

    @include large-desktop{
        grid-template-columns: repeat(7, minmax(115px, 1fr));
        @include hide-incomplete-rows-in-container(7);
    }
     
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.4);
    transition: 300ms;

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        background-color: rgba(0,0,0,0.2);
    }
}
.card-text{
    text-align: center;
    overflow:hidden;
    max-height: 100%;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}
