.footer{
    background-color: rgba(252, 174, 176, 0.5);
    padding: 15px 17px;
    border-top: solid rgba(0,0,0,0.14) 2px;
    .footer-content{
        max-width: 960px;
        h3{
            font-size: 14px;
            font-weight: 700;
        }
        p{
            font-size: 12px;
            font-weight: 500;
        }
    }
}