
@mixin small-mobile {
    @media (max-width: 480px) {
      @content;
    }
  }

  @mixin small-tablet {
    @media (min-width: 480px) and (max-width: 939px) {
      @content;
    }
  }
  

  @mixin small-desktop {
    @media (min-width: 940px) and (max-width: 1124px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1125px) and (max-width: 1440px) {
      @content;
    }
  }

  @mixin large-desktop {
    @media (min-width: 1440px) {
      @content;
    }
  }
  
