@use './breakpoints.scss' as *;
@use './mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.container {
  position: relative;
  background-color: #efe5ff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
